body {
    background-color: rgb(247, 232, 208);
}

/* Main page */

#title {
    color: rgb(62, 189, 182);
    font-family: Garamond, Georgia, 'Times New Roman';
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    font-style: italic;
}
.page-directions li {
    margin-bottom: 80px;
    margin-top: 150px;   
}
.page-directions a {
    background-color: rgb(0, 0, 0);
    width: fit-content;
    font-size: 45px;
    margin-top: 80px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.page-directions a:hover {
    color: black;
    background-color: aquamarine;
}

/* Sites */

.home-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(18, 20, 20);
    color: white;
    text-align: center;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.home-button:hover {
    background-color: aquamarine;
    color: black;
}

.page-title {
    color: rgb(3, 3, 3);
    font-family: Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

h3 {
    text-decoration: underline;
    font-size: 28px;
}

p {
    max-width: 720px;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 18px;
}

ul {
    padding: 20px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 18px;
}

ul li {
    padding: 10px;
}

h2 {
    font-size: 35px;
    margin-top: 50px;
    color: rgb(64, 161, 129);
    text-decoration: underline;
}

#odin-image {
    float: right;
    display: block;
}