body {
    background-color: rgb(247, 232, 208);
}

/* Main page */

#title {
    background-color: rgb(252, 251, 251);
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 20px;
    display: table;
    border-radius: 10px;
    font-size: 40px;
    color: rgb(68, 145, 145);
}

div a{
    display: block;
    margin-bottom: 10px;
    padding: 45px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    border: none;
}

div:hover a{
    background-color: black;
    color: aqua;
}

.goulash-link {
    background-color: rgb(60, 189, 189);
}

.curry-link {
    background-color: rgb(33, 118, 187);
}

.pork-link {
    background-color: rgb(141, 76, 202);
}

/* Sites */

.home-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(18, 20, 20);
    color: white;
    text-align: center;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.home-button:hover {
    background-color: aquamarine;
    color: black;
}

.page-title {
    color: rgb(3, 3, 3);
    font-family: Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

h3 {
    text-decoration: underline;
    font-size: 28px;
}

p {
    max-width: 720px;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 18px;
}

ul {
    padding: 20px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 18px;
}

ul li {
    padding: 10px;
}

h2 {
    font-size: 35px;
    margin-top: 50px;
    color: rgb(64, 161, 129);
    text-decoration: underline;
}

